.modal {
    border: none;
    border-radius: 10px;
    
    width: 400px;
    height: fit-content;
    padding-block: 20px;

    position: fixed;
    left: 50%;
    transform: translate(-50%, 10%);

    background-color: white;


}

.modal-container-text {
    margin: 0.5em;
    overflow-wrap: break-word;
}

.modal-container-button {
    display: flex;
    justify-content: space-between;
}

.modal-container-button button{
    flex: auto;
    margin-inline: 0.5em;
}
